body {
  background: #000000;
  text-align: center;
}
.container {
  width: 510px;
  height: 500px;
  display: inline-block;
  transform: translateY(10%);
}
.bar {
  background: #FFFFFF;
  width: 10px;
  height: 100%;
}
.client {
  float: left;
}
.server {
  float: right;
}

.el {
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 240px;
  left: 10px;
}
.stretched {
  position: relative;
  top: 0;
  left: 0;
  height: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  opacity: 0;
}

.sub {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.response-content {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.timer {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
  background: white;
  display: block;
}

.timer > .timer-face {
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 35px;
  top: 15px;
  left: 15px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 70px;
}